{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Plateforme TOBAT</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}

</head>

<body>
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('tobat_accueil') }}">Accueil</a></li>
          <li><a href="{{ path('tobat_json') }}">JSON</a></li>
          <li><a href="{{ path('tobat_ajouter') }}">Ajouter</a></li>
          <li><a href="{{ path('tobat_logout') }}">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  
  {% block contenu %}
  {% endblock %}

    <footer>
      <p>Tobat © {{ 'now'|date('Y') }}.</p>
    </footer>
  </body>
</html>