<h3>Ajouter un bateau</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Génération du label + error + widget pour un champ. #}

 

  {# Génération manuelle du champ nom #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Nom ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nom) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

 {# Génération manuelle du champ prix #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.prix, "Prix ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.prix) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

   {# Génération manuelle du champ annee #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.annee, "Année ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.annee) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.annee, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

 {# Génération manuelle du champ longueur #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.longueur, "Longueur ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.longueur) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.longueur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ largeur #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.largeur, "Largeur ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.largeur) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.largeur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ hauteur #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.hauteur, "Hauteur ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.hauteur) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.hauteur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ etat #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.etat, "Etat ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.etat) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ nbCabine #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nbCabine, "Nombre de cabine ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nbCabine) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nbCabine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ nbSaleEau #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nbSaleEau, "Nombre de Salles d'eau ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nbSaleEau) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nbSaleEau, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ nbMoteur #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nbMoteur, "Nombre de Moteurs ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nbMoteur) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nbMoteur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ puissance #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.puissance, "Puissance ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.puissance) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.puissance, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle du champ nbHMoteur #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nbHMoteur, "nbHMoteur ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nbHMoteur) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.nbHMoteur, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{# Génération manuelle du champ energie #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.energie, "Energie ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.energie) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.energie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle du champ latitude #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.latitude, "Latitude ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.latitude) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle du champ longitude  #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.longitude , "Longitude  ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.longitude ) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.longitude , {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle du champ type  #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.type , "Type  ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.type ) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.type , {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

    {# Idem pour le champ "photo". #}
  <div class="form-group">
    {{ form_label(form.photo, "Photo ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.photo) }}
    <div class="col-sm-10">
      {{ form_widget(form.photo)}}
    </div>
  </div>




  


  
</div>